/* Student Names: Gerrod Wagner; Nathan Price; Vania Lee
  Today's Date: 02/08/2021
  File Name: StyleSheet.html
  */
  

  /* CSS Reset Rule */
  body, header, nav, main, footer, img, h1 {
    margin: 0;
    padding: 0;
    border: 0;
}


/* Style rules for  body, html and images */
img { max-width: 100%;
  display: block;
  border-bottom: 30px;

}

/* Style Rules to show mobile class and hide tab-desk */


/* Style Rules for Heading Area */

header {
    
    text-align: center;
    font-size: 3em;
    border: 10px;
    font-family: 'Fjalla One', sans-serif;
}

/* Hero Image */
  .hero{

      background-repeat:no-repeat;
      position:relative;
    }

  .hero-image{ 
    position: relative;
    width: 100vw;
   height: 35vh;
   opacity: 95%;
   border: black solid 5px;
   border-left: none;
   border-right: none;
  }
      
  
/* place text in Hero Image */
  .hero-text {
    background-color:#EFE2BA ;
    color:black;
    font-family: 'Fjalla One', sans-serif;
    text-shadow: 3px 4px whitesmoke;
   
    
  }

  /*Style rules for Nav Area */
nav {
    background-color:#4056A1;
    font-family: 'Fjalla One', sans-serif;
    font-weight: bolder;
    border-bottom: black solid 5px;
   
}
 
nav ul {
    list-style-type: none;
    text-align: center;
    margin:0;
    border-radius: 25px;
    font-size: 1.5rem;
    font-family: 'Fjalla One', sans-serif;
  
}

nav li {
  display: inline-block;
  padding: 5px 0 5px 0px;
}

nav li a { 
  display: inline-block;
  padding: 0.5em 2em;
  color: #D79922;
  text-decoration: none;

}

nav li:first-child {
  border-top: none;
  }




/* Style rules for main content */
main {
    padding: 3%;
    background-color:#EFE2BA;
    overflow: auto;
    font-size: 2rem;
    font-family: Verdana, Arial, Times New Roman;
}

h2 {
  border-top:none;
  background-color: #F13C20;
  border-radius: 20px;
  padding: 20px;
  width:80%;
  color: black;
  font-weight: bold;
  font-family: 'Fjalla One', sans-serif;
  border:black solid 8px;
  
  
}

#indexpic {
  width: 140px;
  align-content: center;
  border-radius: 100%;
  border: 4px solid black;

}

figure {
  width:50vw;
  border: 2px solid;
  padding: 10px;
  align-content: center;
  background: whitesmoke;
  color: black;
 

}

figcaption {
  font-size: 1rem;
  padding: 10px;

}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* Home page style rules for columns */

.column {
  float: left;
  width: 50%;
  padding-top: 10%;
}

/* Clear floats after the columns */
.row:after {

  display: table;
  clear: both;
}

/* Style rules for footer content */

footer {
    border-radius: 25px;
    text-align: center;
    font-size: 1em;
    clear: left;  
    font-family: Verdana, Arial, Times New Roman;
}
 
  /*selectors for classes and id */ 

  .column-text {
      background: linear-gradient(#4056A1,#D79922);
      margin: 25% 0 15% 20% ;
      padding: 20%;
      border: 10px solid ;
      border-radius: 30px;

  }

#Welcome {
    background-color:#C5cbe3;
    width: 90%;
    padding:25px;
    display: block;
    color:black;
    border-radius: 30px;   
    box-shadow: -10px 10px 10px black;   
}

.image1 {
  border-radius: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;


}

.image {
  border-radius: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.video {
  border-radius: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/*full screen home page bios css */ 
.mobile {
 width: 30rem;
margin: 5%;
padding: 2%;
font-size: 1rem;
}
  .dance {
      height: auto;
      width: 40px;
      display: inline-block;
    }

#ProsofCryptocurrency {
                    background-color:#EFE2BA;
                    color:#4056A1; 
                    font-size: 1.5em; 
} 

#rattler {
 opacity: 0.04;
 flex-direction: row;
 max-width: 50vw;
 margin: auto;

}

.action  {
  font-style: italic;
  color: #D79922;
}

.title {
  background: linear-gradient(-45deg,aqua,#4056A1,#8fc33a,#Fe65b7,#F13C20,#D79922,white);
  font-size: 150%;
  background-size: 400% 400%;
  background-position: 400%;
  animation: gradient 10s ease infinite;
}

.image2 {
  width:100vw;
  height:50vh; 
  border: 5px solid black;
  box-shadow: -10px 20px 20px black;  
}

/*animated gradient */

@keyframes gradient {
  0% {background-position: 0%;}
  50% {background-position: 100%;}
  100% {background-position: 0%;}
}

/* Media Query for Tablet Viewport */

@media screen and (max-width:600px),print {

  main {
    font-size: 1rem;
  }
  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    height: 10vh;
  
  }
  
  .hero-image{ 
    position: relative;
    width: 100vw;
   height: 30vh;
  }

  .tab-desk { 
    display: block;
  }

  .mobile {
  
    display: none;
  }

  .column{
    width:100%;
   
  }

  .column-text {
    background: linear-gradient(#4056A1,#D79922);
    margin: 15%;
    padding: 2rem;
    font-size: 1rem;
    border: 10px solid ;
    border-radius: 30px;
    
  }
  .image1 {
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  
   
  }

  .title {
    font-size: 2rem;
  }

  #rattler {
    position: absolute;
    
}



html, body {
  overflow-x: hidden;
}
body {
  position: relative
}

header {
    
  text-align: center;
  font-size: 2em;
  border: 10px;
  font-family: 'Fjalla One', sans-serif;
}
  



  /* Media Query for Desktop Viewport */

  @media screen and (min-width:1000px), print {

      /* Desktop Viewport: Style Rules for nav area */


      nav li a:hover {
       transition: 0.5s;
        color:#F13C20;
      }

   
        
  
     
      .pictures { max-width: 95%;}
  }



  /* Media Query for Large Desktop Viewports */

@media screen and (min-width:1921px), print{

  body{
      background: linear-gradient(#EFE2BA,#4056A1);

    }

  #wrapper {
    width: 1920px;
    margin: 0 auto;
  }
  
  nav{
        display: inline-block;
      }
      
      nav li {
        font-size: 2em;
        display: inline-block;
      }
      
      nav li a { 
        padding: 5px 0 5px 0px;
        display: inline-block;
      }

      nav li a:hover {
        transition: 0.5s;
        color:#F13C20;
      }

    }