/* Student Names: Gerrod Wagner; Nathan Price; Vania Lee
  Today's Date: 02/08/2021
  File Name: StyleSheet.html
  */
  

  /* CSS Reset Rule */
  body, header, nav, main, footer, img, h1 {
    margin: 0;
    padding: 0;
    border: 0;
}


/* Style rules for  body, html and images */
img { max-width: 100%;
  display: block;
  border-bottom: 30px;

}

/* Style Rules to show mobile class and hide tab-desk */


/* Style Rules for Heading Area */

header {
    
    text-align: center;
    font-size: 3em;
    border: 10px;
    font-family: 'Fjalla One', sans-serif;
}

/* Hero Image */
  .hero{

      background-repeat:no-repeat;
      position:relative;
    }

  .hero-image{ 
    position: relative;
    width: 100%;
   
  }
      
  
/* place text in Hero Image */
  .hero-text {
    background-color:#EFE2BA ;
    position: center;
    color:black;
    font-family: 'Fjalla One', sans-serif;
    border-radius: none;
    
  }

  /*Style rules for Nav Area */
nav {
    background-color:#4056A1;
    font-family: 'Fjalla One', sans-serif;
    font-weight: bolder;
    
}
 
nav ul {
    list-style-type: none;
    text-align: center;
    margin:0;
    border-radius: 25px;
    font-size: 1.5em;
    font-family: 'Fjalla One', sans-serif;
  
}

nav li {
  display: inline-block;
  padding: 5px 0 5px 0px;
}

nav li a { 
  display: inline-block;
  padding: 0.5em 2em;
  color: #D79922;
  text-decoration: none;

}

nav li:first-child {
  border-top: none;
  }




/* Style rules for main content */
main {
    padding: 3%;
    background-color:#EFE2BA;
    overflow: auto;
    font-size: 2em;
    font-family: Verdana, Arial, Times New Roman;
}

h2 {
  position:center;
  border-top:none;
  background-color: #F13C20;
  border-radius: 20px;
  padding: 20px;
  width:80%;
  color: black;
  font-weight: bold;
  font-family: 'Fjalla One', sans-serif;
}

/* Home page style rules for columns */

.column {
  float: left;
  width: 50%;
  padding-top: 10%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style rules for footer content */

footer {
    border-radius: 25px;
    text-align: center;
    font-size: 1em;
    clear: left;  
    font-family: Verdana, Arial, Times New Roman;
}
 
  /*selectors for classes and id */ 

  .column-text {
      background: linear-gradient(#4056A1,#D79922);
      margin: 25% 0 15% 20% ;
      padding: 20%;
      border: 10px solid ;
      border-radius: 30px;

  }

#Welcome {
    background-color:#C5cbe3;
    width: 90%;
    padding:25px;
    display: block;
    color:black;
    border-radius: 30px;      
}

.image {
  border-radius: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.video {
  border-radius: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}


  .dance {
      height: auto;
      width: 40px;
      display: inline-block;
    }

#ProsofCryptocurrency {
                    background-color:#EFE2BA;
                    color:#4056A1; 
                    font-size: 1.5em; 
} 

#rattler {
 opacity: 0.05;
 position: relative;
}

.action  {
  font-style: italic;
  font-weight: 1px;
  color: #D79922;
}

/* Media Query for Tablet Viewport */

@media screen and (max-width:600px),print {

  .tab-desk { 
    display: block;
  }


  .mobile {
    display: none;
  }

  .column{
    width:100%;
   
  }

  .column-text {
    background: linear-gradient(#4056A1,#D79922);
    margin: 10% 0 10% 20% ;
    padding: 20%;
    border: 10px solid ;
    border-radius: 30px;
  
}

html, body {
  overflow-x: hidden;
}
body {
  position: relative
}

header {
    
  text-align: center;
  font-size: 2em;
  border: 10px;
  font-family: 'Fjalla One', sans-serif;
}
  
}


  /* Media Query for Desktop Viewport */

  @media screen and (min-width:1000px), print {

      /* Desktop Viewport: Style Rules for nav area */


      nav li a:hover {
       transition: 0.5s;
        color:#F13C20;
      }

     
      .pictures { max-width: 80%;}
  }



  /* Media Query for Large Desktop Viewports */

@media screen and (min-width:1921px), print{

  body{
      background: linear-gradient(#EFE2BA,#4056A1);

    }


  #wrapper {
    width: 1920px;
    margin: 0 auto;
  }
  
  nav{
        display: inline-block;
      }
      
      nav li {
        font-size: 2em;
        display: inline-block;
      }
      
      nav li a { 
        padding: 5px 0 5px 0px;
        display: inline-block;
      }

      nav li a:hover {
        transition: 0.5s;
        color:#F13C20;
      }



}



